<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="Zadanie5Endpoint" />
            </basicHttpBinding>
            <wsDualHttpBinding>
                <binding name="Zadanie6Endpoint" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:52659/Service1.svc/zad5"
                binding="basicHttpBinding" bindingConfiguration="Zadanie5Endpoint"
                contract="ServiceReference1.IZadanie5" name="Zadanie5Endpoint" />
            <endpoint address="http://localhost:52659/Service1.svc/zad6"
                binding="wsDualHttpBinding" bindingConfiguration="Zadanie6Endpoint"
                contract="ServiceReference1.IZadanie6" name="Zadanie6Endpoint">
                <identity>
                    <userPrincipalName value="DESKTOP-3NFB90S\igor" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>